/*  
* GoogleFonts
*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Fira Sans", serif; */

/*  
* GlobalStyle
*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
}
header {
  padding: 0 120px;
}
main {
  padding: 0 120px;
}
footer {
  padding: 0 120px;
}

.btn-primary {
  padding: 15px 30px;
  border-radius: 8px;
  border: 2px solid green;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: green;
  cursor: pointer;
  transition: 0.3s;
}
.btn-secondary {
  padding: 15px 30px;
  border-radius: 8px;
  border: 2px solid green;
  color: green;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.section-heading {
  font-size: 40px;
  font-weight: 700;
}
.section-description {
  color: #0e0e0e70;
}

/*  
* NavStyle
*/
nav {
  padding: 20px 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav ul .logo {
  font-size: 32px;
  font-weight: 700;
}
nav li .btn-secondary:hover {
  background-color: green;
  border-color: green;
  color: #ffffff;
}

/*  
* BannerStyle
*/
.banner {
}
.banner .banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding: 60px 80px;
}
.banner .banner-container .sub-title {
  color: #0e0e0e;
  font-size: 24px;
  font-weight: 500;
}
.banner .banner-container .title {
  font-size: 46px;
  font-weight: 700;
  padding: 15px 0;
}
.banner .banner-container .button-container {
}
.banner .banner-container .button-container .btn-primary {
}
.banner .banner-container .button-container .btn-primary:hover {
  background-color: transparent;
  color: green;
}

/*  
* PillarStyle
*/
.pillar,
.vision {
  padding: 80px 0;
}
.pillar .pillar-container,
.vision .vision-container {
}
.pillar .pillar-container .section-heading,
.vision .vision-container .section-heading {
  padding-bottom: 30px;
}
.pillar .pillar-container .pillar-items,
.vision .vision-container .vision-items {
  display: flex;
  gap: 24px;
}
.pillar .pillar-container .pillar-item,
.vision .vision-container .vision-item {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
}
.pillar .pillar-container .pillar-item .icon,
.vision .vision-container .vision-item .icon {
  width: 64px;
}
.pillar .pillar-container .pillar-item .icon img,
.vision .vision-container .vision-item .icon img {
  width: 100%;
}
.pillar .pillar-container .pillar-item .pillar-title,
.vision .vision-container .vision-item .vision-title {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
}
.pillar .pillar-container .pillar-item .pillar-description,
.vision .vision-container .vision-item .vision-description {
}

/*  
* VisionStyle
*/
.vision {
  padding-top: 0;
}
.vision-container {
}
.vision-container .section-heading {
}
.vision-container .section-description {
  padding-bottom: 30px;
}
.vision .button-container .vision-btn-1 {
  background-color: #5490f5;
  border-color: #5490f5;
  transition-duration: 0.3s;
}
.vision .button-container .vision-btn-1:hover {
  background-color: #3a79e6;
  border-color: #3a79e6;
}
.vision .button-container .vision-btn-2 {
  background-color: #09a15c;
  border-color: #09a15c;
  transition-duration: 0.3s;
}
.vision .button-container .vision-btn-2:hover {
  background-color: #0e9156;
  border-color: #0e9156;
}
.vision .button-container .vision-btn-3 {
  background-color: #ffc239;
  border-color: #ffc239;
  transition-duration: 0.3s;
}
.vision .button-container .vision-btn-3:hover {
  background-color: #e4ad2d;
  border-color: #e4ad2d;
}

.vision .vision-item.vision-item-1 {
  background-color: #5490f520;
}
.vision .vision-item.vision-item-2 {
  background-color: #c6e4d6;
}
.vision .vision-item.vision-item-3 {
  background-color: #f7ebcf;
}
.vision-item .vision-description {
  padding-bottom: 30px;
}

/*  
* QuoteStyle
*/
.quote {
  padding-bottom: 80px;
}
.quote .quote-container {
  background-color: #ffffff;
  padding: 24px 48px;
  border: 1px solid #0e0e0e15;
  border-radius: 16px;
}
.quote .quote-container .quote-description {
  background-image: url(../assets/quote-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 24px 0;
  line-height: 24px;
}
.quote .author {
  display: block;
  padding: 15px 0 5px;
}
.quote .designation {
  display: block;
  padding: 5px 0;
}
